---
layout: default
---
{% assign paginator = page.paginator %}

<div class="posts">
  <ul>
    {% for post in paginator.posts %}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <span class="post-date"><time
          datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></span>
    </li>
    {% endfor %}
  </ul>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% assign current_page = paginator.page %}

  {% if current_page == 1 %}
  &laquo; Prev
  {% elsif current_page == 2 %}
  <a href="{{ site.baseurl }}/category/{{ page.title | slugify }}/">&laquo; Prev</a>
  {% else %}
  <a href="{{ site.baseurl }}/category/{{ page.title | slugify }}/page{{ current_page | minus:1 }}/">&laquo; Prev</a>
  {% endif %}

  {% for i in (1..paginator.total_pages) %}
  {% if i == current_page %}
  {{ i }}
  {% elsif i == 1 %}
  <a href="{{ site.baseurl }}/category/{{ page.title | slugify }}/">{{ i }}</a>
  {% else %}
  <a href="{{ site.baseurl }}/category/{{ page.title | slugify }}/page{{ i }}/">{{ i }}</a>
  {% endif %}
  {% endfor %}

  {% if current_page == paginator.total_pages %}
  Next &raquo;
  {% else %}
  <a href="{{ site.baseurl }}/category/{{ page.title | slugify }}/page{{ current_page | plus:1 }}/">Next &raquo;</a>
  {% endif %}
</div>
{% endif %}

<script>
    (function () {
        if (window.location.href.endsWith("/category/post/")) {
            history.replaceState({}, null, "{{ site.baseurl }}/");
        }
    })();
</script>
